<%= form_for @cleaning do |f| %>
  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_area :comments, rows: "10", class: "form-control"%>
  </div>
    <%= f.submit "Submit", class: "btn btn-default center-block" %>
<% end %>
